body {
    overflow-x: hidden !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #252a34;
    text-align: left;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;

}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.btn-brand {
    font-weight: 500;
    color: #fff;
    background-color: #00ba94;
    border-color: #00ba94;
}

.btn-brand:hover {
    background-color: #00ba95a9;
    border-color: #00ba95a9;
}

.btn-learn {
    font-weight: 500;
    color: #fff;
    background-color: #313EB4;
    border-color: #313EB4;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: .5px;
}

.btn-learn:hover {
    background-color: rgb(32, 42, 131);
    border-color: rgb(32, 42, 131);
}

#top-views .card .btn {
    border-radius: 0;
}

.btn-rounded {
    border-radius: 50rem !important;
}

.navbar {
    position: absolute;
    z-index: 1;
}

.page-header {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.page-header-dark {
    color: #fff;
    background-color: #1f2d41;
}

.bg-gradient-primary-to-secondary {
    background-color: #0061f2;
    background-image: linear-gradient(60deg, rgb(46, 51, 150) 0%, rgb(46, 51, 150) 0%, rgb(52, 73, 206) 100%, rgb(52, 73, 206) 100%);
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

#btn-read {
    margin-top: 1rem;
}

#btn-read-landing {
    line-height: 22px;
    font-weight: 600;
}

#arrow-right {
    font-weight: 400;
}

#img-welcome {
    margin-top: 2rem;
}

#info-panel-position {
    margin-top: -3.8rem;
}

.landing-heading-text {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    line-height: 58px;
    font-weight: 700;
}

.landing-subheading-text {
    margin-top: 1.3rem;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.65);
}

.info-panel {
    border-color: none;
    background-color: #fff;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.info-panel h4 {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.info-panel p {
    font-size: .8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.info-panel img {
    width: 30%;
}

#top-views {
    margin-top: 7rem;
}

#category {
    margin-top: 7rem;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
}

.section-subheading {
    font-size: .8rem;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #6f7892;
    text-transform: uppercase;
}

.card .card-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.bg-android {
    background-color: #F64883;
}

.bg-ios {
    background-color: #FF7F62;
}

.bg-web {
    background-color: #FFBD54;
}

.bg-brand {
    background-color: #00BA94;
}

.badge {
    padding: 8px;
    color: #fff;
}

.card {
    margin-top: 2rem;
}

.category-big-panel {
    padding-right: 2rem;
}

.category-item {
    padding: 1rem;
    border-radius: 5px;
}

#category-panel {
    margin-top: 2rem;
}

.btn-category {
    font-weight: 500;
    font-size: .7rem;
    color: #313EB4;
    background: white;
    border-color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: .5px;
}

.btn-category:hover {
    color: #313EB4;
    background: white;
    border-color: white;
}

.category-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Desktop */
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }

    #btn-read {
        margin-top: 0;
    }

    #img-welcome {
        margin-top: 0;
    }

    .info-panel p {
        font-size: .9rem;
    }

    .card {
        margin-top: 0;
    }

    #category-panel {
        margin-top: 0;
    }

}